# YAKAMI ECO-GATEWAY CONFIG
# -------------------------

# Blockchain Config
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/SUA_CHAVE
PRIVATE_KEY=sua_chave_privada_aqui
CONTRACT_ADDRESS=0x...

# PIX Integration (Ex: Gerencianet ou Mercado Pago)
PIX_KEY=sua_chave_pix_aqui
GATEWAY_API_KEY=sua_chave_api

# OpenWrt Config
ROUTER_IP=192.168.1.1
ADMIN_PASSWORD=sua_senha
